body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}
.header,
.footer {
  background-color: #1f2937;
}

/* Header Navigation Section Styling */
.header-logo {
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
  padding: 20px;
}

.header-nav {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 10px;
  font-size: 18px;
  color: #e5e7eb;
}

/* Header Content Section Styling */
p {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

.header-content {
  display: flex;
}

.header-about {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  margin: 50px;
  flex: 1;
}

.header-img {
  color: #e5e7eb;
  align-content: center;
  background-color: #a1a3a8;
  padding: 50px;
  margin: 50px;
}

.headerBtn {
  color: #e5e7eb;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 3px;
  padding: 5px 20px;
}

/* Body Content Section Styling */

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-title {
  color: #1f2937;
  margin: 15px;
  font-size: 36px;
  font-weight: bolder;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.boxes {
  background-color: white;
  border: 3px solid #3882f6;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.boxes-layout {
  justify-content: space-around;
}

.descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  width: 500px;
}

.descriptions p {
  color: #1f2937;
}
